/* ---- This is the universal css reset ----*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(200,200,200); */
}

header, footer, section {
  padding: 5%;
}

body{
  font-family: 'Montserrat', sans-serif;
}
.intro {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/gilles-lambert-249996.jpg");
  background-size: cover;
  text-align:center;
  padding: 15%;
}

.text-color-1 {
  color: #ffc200;

}
.text-color-2 {
  color: #ffffff;
}

.features {
  background-color: #192b37;
  background-size: cover;
  color: #ffffff;
}
.title-bg {
  background-image: url("img/joanna-kosinska-129039.jpg");
  background-size: cover;
}

/* Benefits Section */
.benefits-block {
  padding: 0;
}

.benefits-text {
  padding:5%;
}

.benefits-img1 {
  background-image: url("img/charles-deluvio-351207.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  min-height: 450px;
}
.benefits-img2 {
  background-image: url("img/rhema-kallianpur-275251.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 30%;
  min-height: 450px;
}


/* features grid */

.features [class*=col-] {
  padding: 3%;
}

.margin-bottom5 {
  margin-bottom: 5%;
}

.margin-bottom1 {
  margin-bottom: 1%;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}
h3 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
}
.text-size {
  font-size: 4rem;
  font-weight: 900;
}
.body-text {
  font-size: 2rem;
}
.right-text {
  text-align: right;
}
.qoute-icon {
  font-size: 4rem;
  font-weight: 900;
}
.contact-form {
  background-color:#192b37;
  color: white;
  padding: 5%;

}
.contact-form form {
  padding: 3%;
  margin: auto;


}
.contact-form input {
  display: block;
  width: 100%;
  padding: 1%;
  margin: 1% 0;



}
.contact-form textarea {
  width: 100%;
  min-height: 6vw;
  padding: 1%;



  /*--- margin is on the outside; padding is on the inside ---*/

}
.button{
  background-color: #ffc200;
  color: white;
}
/* --- targeting a class within a class ---*/
.contact-form .column {
  padding-right: 10%;
}
input, textarea
{
    border-radius: 5px;
    outline: none;
}
